<!-- The navbar that appears on the top of the screen in the layout -->
<template name="navbar">
	<div class="navbar">
	  <div class="navbar-fixed">
	    <nav>
	      <div class="nav-wrapper">
	        <a href="{{pathFor route='home'}}" class="brand-logo">HappeNUS</a>
	        <a href="#" data-activates="sidenav" class="button-collapse"><i class="large material-icons">menu</i></a>
	        {{#if currentUser}}{{#if rwindow.innerWidth 'gt' 992}}{{> navMenu}}{{/if}}{{/if}}
	        <ul class="right hide-on-med-and-down">
	          {{#if loggingIn}}
	            <li>Signing in...</li>
	          {{else}}
	            {{#if currentUser}}
	              {{#with currentUser}}
	                <li><a href="{{pathFor route='profile'}}">{{display_name}}</a></li>
	              {{/with}}
	            {{/if}}
	          {{/if}}
	          <li>{{> atNavButton}}</li>
	        </ul>
	        {{#if currentUser}}{{> navNotifications}}{{/if}}
	        {{#if currentUser}}
	        	<ul class="right">
	        		<li>
	        			<a id="searchbtn" data-bind="click: openSearch">
	        				<i class="material-icons">search</i>
	        			</a>
	        		</li>
	        	</ul>
	        {{/if}}
	        <!-- The sidenav is placed here as well -->
	        <ul class="side-nav" id="sidenav">
	          {{#if loggingIn}}
	            <li>Signing in...</li>
	          {{else}}
	            {{#if currentUser}}
	              {{#with currentUser}}
	                <li><a href="{{pathFor route='profile'}}">{{display_name}}</a></li>
	              {{/with}}
	            {{/if}}
	          {{/if}}
	          <li>{{> atNavButton}}</li>
	          {{#if currentUser}}
		          <li><a href="{{pathFor route='settings'}}" class="view-all">Settings</a></li>
							<li><a href="{{pathFor route='help'}}" class="view-all">Help</a></li>
							<li><a href="#bugModal" class="view-all modal-trigger">Report a bug</a></li>
							<li><a href="#aboutModal" class="view-all modal-trigger">About</a></li>
	          {{/if}}
	        </ul>
	      </div>
	    </nav>
	  </div>
	  <!-- Modals -->
	  {{> bugWindow}}
	  {{> aboutWindow}}
  </div>
</template>