<template name="navbar">  
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="{{pathFor route='home'}}" class="brand-logo">HappeNUS</a>
        <a href="#" data-activates="sidenav" class="button-collapse"><i class="large mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          {{#if loggingIn}}
            <li>Signing in...</li>
          {{else}}
            {{#if currentUser}}
              {{#with currentUser}}
                <li><a href="{{pathFor route='profile'}}">{{username}}</a></li>
              {{/with}}
            {{/if}}
          {{/if}}
          <li>{{> atNavButton}}</li>
          <li><a href="#">Settings</a></li>
        </ul>
        {{> navNotifications}}
        <ul class="side-nav" id="sidenav">
          {{#if loggingIn}}
            <li>Signing in...</li>
          {{else}}
            {{#if currentUser}}
              {{#with currentUser}}
                <li><a href="{{pathFor route='profile'}}">{{username}}</a></li>
              {{/with}}
            {{/if}}
          {{/if}}
          <li>{{> atNavButton}}</li>
          <li><a href="#">Settings</a></li>
        </ul>
      </div>
    </nav>
  </div>
</template>