.navbar .nav-wrapper .button-collapse i {
	font-size: 2.2rem;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar .nav-wrapper .brand-logo {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 1.6rem;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar #searchbtn {
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.navbar i {
		height: 56px;
		line-height: 56px;
	}
}