.navbar .nav-wrapper .button-collapse i {
	font-size: 2.2rem;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar .nav-wrapper .brand-logo {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 1.6rem;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar nav div#search {
	display: none;
	margin-bottom: 0;
}

.navbar .navbar-fixed input[type=text] {
  height: 2rem;
}

@media only screen and (max-width: 600px) {
	.navbar i {
		height: 56px;
		line-height: 56px;
	}
}