<!-- The navbar that appears on the top of the screen in the layout -->
<template name="navbar">  
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="{{pathFor route='home'}}" class="brand-logo" id="logo">HappeNUS</a>
        <a href="#" data-activates="sidenav" class="button-collapse"><i class="large mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          {{#if loggingIn}}
            <li>Signing in...</li>
          {{else}}
            {{#if currentUser}}
              {{#with currentUser}}
                <li><a href="{{pathFor route='profile'}}">{{username}}</a></li>
              {{/with}}
            {{/if}}
          {{/if}}
          <li>{{> atNavButton}}</li>
          <li><a id="toggle-search" href="#!"><i class="large mdi-action-search"></i></a></li>
          {{#if currentUser}}<li>{{> settingsMenu}}</li>{{/if}}
        </ul>
        {{#if currentUser}}{{> navNotifications}}{{/if}}
        <!-- The sidenav is placed here as well -->
        <ul class="side-nav" id="sidenav">
          {{#if loggingIn}}
            <li>Signing in...</li>
          {{else}}
            {{#if currentUser}}
              {{#with currentUser}}
                <li><a href="{{pathFor route='profile'}}">{{username}}</a></li>
              {{/with}}
            {{/if}}
          {{/if}}
          <li>{{> atNavButton}}</li>
          <li>{{> settingsMenu}}</li> <!-- Need to change this -->
        </ul>
      </div>
    </nav>
    <div class="row black-text grey lighten-5 z-depth-4" id="search" style="display: block;">
      <div class="container">
        <form action="https://www.google.com/search" method="get">
          <input class="form-control" type="text" name="q" placeholder="Search ...">
          <input type="hidden" name="as_sitesearch">
        </form>
      </div>
    </div>
  </div>
  <!-- Modals -->
  {{> bugPage}}
  {{> aboutPage}}
</template>