<!-- Pop up modal when user click nav-menu/report a bug -->
<template name="bugWindow">
    <div class="bugWindow">
        <div id="bugModal" class="modal">
            <div class="modal-title z-depth-1 indigo white-text">
                <h4>Oops! Sorry about that...</h4>
            </div>
            <div class="modal-body">
                <p>Please help by telling us what bug you are facing. If you are familiar with GitHub, head over to our GitHub page and create an issue directly. If you are not familiar with GitHub, not to worry. You can instead email to us about the problem you faced.</p>
                <p> Please do be as accurate as possible so that we can access the situation effectively. We will try our best to address the problem as soon as possible and we will update you once the bug is removed.</p>
            </div>
            <div class="modal-footer">
                <a id="git" href="https://github.com/HappeNUS/happenus/issues/new" class="modal-action modal-close blue-text btn-flat" target="_blank">GitHub</a>
                <a id ="mail" href="mailto:happenus.dev@gmail.com?subject=Bug found in HappeNUS&body=Please include all the necessary details of the bug." class="modal-action modal-close blue-text btn-flat" target="_blank">E-Mail</a>
                <a id="close" class="modal-action modal-close black-text btn-flat">Close</a>
            </div>
        </div>
    </div>
</template>