.bugWindow .modal-title {
	background-color: #E57373;
	color: #ffffff;
}

.bugWindow .modal-title h4 {
	padding: 10px;
	font-size: 30px;
	margin-bottom: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}

.bugWindow .modal-body p {
	margin-left: 14.5px;
	margin-right: 14.5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
}

.bugWindow .modal-action {
	padding-left: 15px;
	padding-right: 15px;
}

.bugWindow .modal-footer i {
	color: #ffffff;
}

.bugWindow .modal-footer a {
	color: #ffffff;
}

.bugWindow .modal .modal-footer .btn-flat {
	float: right;
	margin-left: 5px;
	margin-right: 10px;
}

.bugWindow #close {
	float: left;
	margin-left: 10px;
}