<template name="displayNameSettings">
	<div class="displayNameSettings">
		<div class="display-name-header">
			<p>This is a <strong>unique</strong> name that identifies your account</p>
		</div>
		<div class="display-name-options">
			<div class="row">
				<div class="input-field col s12 m8 l6">
					<input id="display-name-input" type="text" class="validate">
					<label class="active" for="display-name-input">Display name</label>
				</div>
			</div>
			<div class="row">
				<button id="check-valid-btn" type="button" class="btn disabled">Check</button>
				<button id="save-display-name-btn" type="button" class="btn hide">Save</button>
			</div>
			<div class="progress hide">
				<div class="indeterminate"></div>
			</div>
		</div>
	</div>
</template>