.navMenu #dropdown-list a {
	font-family: 'Roboto', sans-serif;
	font-size: 1.0em;
	color: #607d8b;
}

.navMenu #dropdown-list li {
	background-color: #eceff1;
	transition: background-color 0.3s;
}

.navMenu #dropdown-list li:hover {
	background-color: #cfd8dc;
}