<template name="eventcard">
	<div class="container">
    <div class="row">
        <!-- Card Projects -->
    	<div class="col-md-6">
      	<div class="card">
        	<div class="card-image">
          	<img class="img-responsive" src="{{img}}">
            <span class="card-title"><a class="card-title-link" href="{{pathFor route='event'}}">{{name}}</a></span>
        	</div>    
       		<div class="card-content">
          	<p>{{desc}}</p>
         	</div>
          <div class="card-action">
            {{#with user}}
              <a href="{{pathFor route='profile'}}">Event by {{username}}</a>
            {{/with}}
          </div>
        </div>
    	</div>
		</div>
	</div>
</template>