<!-- Page that is shown when user wants to create a new event -->
<template name="create">
	<div class="create">
		<div class="container">
			<form role="form">
				<div class="row">
					<!-- The left column -->
					<div class="col s12 m6">
						<!-- The banner image card -->
						<div class="card">
							{{#if img}}
								<div class="card-image">
						    	<img src="{{img}}" alt="Preview">
						  	</div>
					  	{{/if}}
							<div class="card-content">
								<span class="card-title black-text">Banner Image</span>
								<div class="input-field">
				          <input id="img_input" type="file" class="validate">
				        </div>
							</div>
						</div>
						<!-- The main details card -->
						<div class="card main-details">
							<div class="card-content black-text">
								<span class="card-title black-text">Main Details</span>
								<div class="input-field">
									<input id="name_input" type="text" class="validate">
									<label for="name_input">Event Name</label>
								</div>
								<label class="desc_label">Description</label>
								<div class="input-field desc">
									<div id="toolbar" class="desc-input-toolbar">
										{{> quillToolbar}}
									</div>
									<div id="editor" class="desc-input-editor"></div>
								</div>

							</div>
						</div>
					</div>
					<!-- The right column -->
					<div class="col s12 m6">
						<!-- The tag input card -->
						<div class="card">
							<div class="card-content black-text">
								<span class="card-title black-text">Tags</span>
								<div class="input-field">
				          <input id="tag_input" type="text">
				          <label for="tag_input">Add tag</label>
					        </div>
					        {{#each tags}}
					        	<div class="tag">
					        		<a class="deep-orange accent-2 waves-effect waves-light btn">{{this}}</a>
					        	</div>
					        {{/each}}
							</div>
						</div>
						<!-- The dates card -->
						<div class="card create-dates">
							<div class="card-content black-text">
								<span class="card-title black-text">Event Dates</span>
						    <ul class="collection">
						    	{{#each dates}}
									<li class="collection-item cyan lighten-5">
										<a class="rem-date-btn secondary-content"><i class="material-icons">highlight_off</i></a>
										<p>From: {{moFormat from 'D MMM[,] YYYY h:mm A'}}</p>
										<p>To: {{moFormat to 'D MMM[,] YYYY h:mm A'}}</p>
									</li>
								{{/each}}
						    </ul>
						    <div class="row">
						    	<div class="col s8">
								    <div class="input-field">
						          <input id="from_date_input" type="date" class="datepicker" placeholder="Date">
						          <label for="from_date_input" class="active">From</label>
						        </div>
					        </div>
					        <div class="col s4">
								    <div class="input-field">
						          <input id="from_time_input" type="text" class="timepicker" placeholder="Time" readonly>
						        </div>
					        </div>
						    </div>
						    <div class="row">
						    	<div class="col s8">
								    <div class="input-field">
						          <input id="to_date_input" type="date" class="datepicker" placeholder="Date">
						          <label for="to_date_input" class="active">To</label>
						        </div>
					        </div>
					        <div class="col s4">
								    <div class="input-field">
						          <input id="to_time_input" type="text" class="timepicker" placeholder="Time" readonly>
						        </div>
					        </div>
						    </div>
						    <a class="add-date btn-floating btn waves-effect waves-light deep-orange accent-2"><i class="material-icons black-text">add</i></a>
							</div>
						</div>
						<!-- The submit button -->
						<div class="container">
							<div class="right">
								<button class="btn waves-effect waves-light" type="submit" name="action">Submit
									<i class="material-icons right">send</i>
								</button>
								{{#if showProgress}}
									<div class="img-upload-progress">
										<div class="progress">
											<div class="determinate" style="width: {{percentProgress}}%"></div>
										</div>
										<p>{{percentProgress}}%</p>
									</div>
								{{/if}}
							</div>
						</div>
					</div>
		    </div>
	    </form>
	  </div>
  </div>
</template>