.create .tag {
	display: inline-block;
	margin: 3px;
}

.create .tag a {
	font-size: small;
	padding: 0 0.7em;
}

.create .tag a:hover {
	opacity: 0.5;
}

.create .card.create-dates {
	overflow: visible;
}

.create .add-date {
	z-index: 2;
	position: absolute;
	bottom: 7rem;
	right: -1.3rem;
}

.create .rem-date-btn {
	color: black;
	font-size: 1.5em;
	cursor: pointer;
	transition: opacity 0.3s;
}

.create .rem-date-btn:hover {
	opacity: 0.6;
}