li.notification.new {
	background-color: #eceff1;
	transition: background-color 0.3s;
}

li.notification.new:hover {
	background-color: #cfd8dc;
}

li.notification p {
	white-space: pre-wrap;
	color: #607d8b;
}

li.notification p.notif-head {
	font-weight: 700;
}