<!-- An event page for each event -->
<template name="event">
	{{#with currentEvent}}
		<div class="container">
			<div class="row">
					<!-- The left column -->
					<div class="col s12 m6">
						<!-- The banner image -->
						<div class="card">
							<div class="card-image">
								<img src="{{eventImage}}">
							</div>
						</div>
						<!-- The main details -->
						<div class="card">
							<div class="card-content black-text">
								<span class="card-title black-text">{{name}}</span>
								{{{desc}}}
							</div>
						</div>
					</div>
					<!-- The right column -->
					<div class="col s12 m6">
						<!-- More details -->
						<div class="card">
							<div class="card-content black-text">
								<span class="card-title black-text">
									Created by
									{{#with userData}}
										<a href="{{pathFor route='profile'}}">{{username}}</a>
									{{/with}}
								</span>
							</div>
							<div class="card-action">
					      <a class="like-btn">
					        {{#if isEventLiked}}
					          <i class="mdi-action-favorite"></i>
					          Liked ({{likeCount}})
					        {{else}}
					          <i class="mdi-action-favorite-outline"></i>
					          Like ({{likeCount}})
					        {{/if}}
					      </a>
					    </div>
					    <!-- The event's dates -->
						</div>
						<div class="card">
							<div class="card-content black-text">
								<span class="card-title black-text">Event Dates</span>
							    <ul class="collection">
							    	{{#each eventDates}}
								      {{> date}}
							      {{/each}}
							    </ul>
							</div>
						</div>
						<!-- Additional details -->
						<div class="card">
							<div class="card-content black-text">
								<span class="card-title black-text">Additional Details</span>
								<p>This event was created on {{moFormat dateCreated 'D MMMM[,] YYYY [at] h:mm a'}}.</p>
							</div>
						</div>
					</div>
		    </div>
	    </div>
    {{/with}}
</template>