<template name="event">
	{{#with currentEvent}}
		<div class="page-header">
			<h1>{{name}}
	        	{{#with userData}}
	            	<small>by <a href="{{pathFor route='profile'}}">{{username}}</a></small>
	            {{/with}}
	        </h1>
	    </div>
		<div class="container">
	        <!-- /.row -->
	        <!-- Portfolio Item Row -->
	        <div class="row">
	            <div class="col-md-8">
	                <img class="img-responsive" src="{{img}}" alt="">
	            </div>

	            <div class="col-md-4">
	                <h3>Description</h3>
	                <p>{{desc}}</p>
	                <h3>Dates</h3>
	                	<ul class="list-group">
			                {{#each eventDates}}
			                	{{> date}}
			                {{/each}}
			            </ul>
	                <h3>Additional details</h3>
	                <ul>
	                    <li>Event created on {{moFormat dateCreated 'D MMMM[,] YYYY [at] h:mm a'}}</li>
	                </ul>
	            </div>

	        </div>
	        <!-- /.row -->
	    </div>
    {{/with}}
</template>