.event .card,
.event .card .card-image {
	overflow: visible;
}

.event .card .card-content .tags p {
	display: block;
	margin-bottom: 0.5em;
}

.event .card .card-content .tags a {
	display: inline-block;
	font-size: small;
	padding: 0 0.7em;
}

.event .card .card-content > .event-dropdown {
	position: absolute;
	top: 0;
	right: 0;
}

.event .card #fbBtn {
	float: right;
	color: #1565c0;
	margin-right: 0;
}

.event .card #tweetBtn {
	float: right;
	color: #2196f3;
	margin-right: 1rem;
}