.eventSearchItem .card:hover {
	box-shadow: 2px 2px 5px 2px #616161;
}

.eventSearchItem .link-event{
	cursor: pointer;
}

.eventSearchItem .card .listitem-img {
	float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

.eventSearchItem .card .listitem-actions a.like-btn {
	cursor: pointer;
	font-size: 1.2em;
	position: absolute;
	bottom: 0em;
	right: 0.3em;
	color: #ff1744;
	transition: opacity 0.3s;
}

.eventSearchItem .card .listitem-actions a.like-btn:hover {
	opacity: 0.6;
}

.eventSearchItem .mainContent {
	padding-left: 10px;
	color: black;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 130%;
}

.eventSearchItem .mainContent #keyword {
	font-weight: normal;
	font-size: 70%;
}

.eventSearchItem .date {
	padding-left: 20px;
	color: #ff3d00;
	font-family: 'Roboto Slab', serif;
}

.eventSearchItem .card {
	height: 64px;
	margin-top: 0px;
	margin-bottom: 7px;
}