<!-- Used in settings.html. Allow users to change password -->
<template name="passwordChangeSettings">
	<div class="passwordChangeSettings">
		<div class="row">
			<div class="input-field col s12 m8 l6">
				<input id="current-pw" type="password" class="validate">
				<label for="current-pw">Current password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m8 l6">
				<input id="new-pw" type="password" class="validate">
				<label for="new-pw">New password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m8 l6">
				<input id="new-retype-pw" type="password" class="validate">
				<label for="new-retype-pw">Re-type new password</label>
			</div>
		</div>
		<div class="complete-btn">
			<button id="change-pw" class="btn" type="button">Change password</button>
		</div>
	</div>
</template>