.help .side-nav {
	top: 64px;
	overflow: hidden;
	z-index: -100;
}

.help .side-nav:hover {
	overflow: auto;
}
.help #logo {
	height: 100px;
	width: 100px;
	float: center;
}

.help #sideHeader {
	margin: 0;
	width: 210px;
}

.help #sideHeader #title {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 0;

}

.help #sideHeader span {
	font-size: 30px;
}

.help .mainContent {
	position: absolute;
	margin-left: 5rem;
	margin-right: 5rem;
}

@media only screen and (max-width: 992px) {
	.help .mainContent {
		margin-left: 10px;
	}
}

/* Only affects screen widths <= 600px */
@media only screen and (max-width: 600px) {
	.help .mainContent{
		margin-left: 10px;
	}
}