<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Roboto Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <!-- Material Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Cascade for the card layout -->
  <script src="/cascade.js"></script>
  
  <!-- Lolliclock used in creating events (found in public directory) -->
  <link href='/lolliclock.css' rel='stylesheet' type='text/css'>
  <script src="/lolliclock.js"></script>

  <!-- Social media buttons -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='/socialbtn.css' rel='stylesheet'>

  <!-- Icon logo on the window tab -->
  <link rel="shortcut icon" href="http://res.cloudinary.com/adam/image/upload/v1436248716/HappeNUS_logo_ta7sm3.ico">
  
  <title>HappeNUS</title>
</head>