<template name="userDescSettings">
	<div class="userDescSettings">
		<div class="input-field">
			<textarea id="user-description" class="materialize-textarea"></textarea>
			<label for="user-description">Enter a short description about yourself</label>
		</div>
		<div class="confirm-buttons right-align">
			<button id="done" class="btn green waves-effect waves-light" type="button"><i class="material-icons">done</i></button>
			<button id="clear" class="btn red waves-effect waves-light" type="button"><i class="material-icons">clear</i></button>
		</div>
	</div>
</template>