<template name="home">
  {{> homeTabs}}
	<div class="container">
		<div class="row">
			{{#if rwindow.innerWidth 'lte' 600}}
				<div class="col s12">
					{{> eventsListHeader}}
				</div>
			{{/if}}
			<div class="col s12 m7 l7 offset-l1">
				{{#each events}}
					{{> eventcard}}
				{{/each}}
			</div>
			{{#if rwindow.innerWidth 'gt' 600}}
				<div class="col m5 l3">
					<div class="pinned">
						{{> eventsListHeader}}
					</div>
				</div>
			{{/if}}
		</div>
	</div>
	{{> createFAB}}
</template>