<!-- Settings page when user click nav-menu/settings -->
<template name="settings">
	<div class="settings">
		<div class="container">
			<div class="row">
				<h3 class="settings-header">Settings</h3>
			</div>
			<div class="row">
				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header"><i class="material-icons">face</i>Profile Image</div>
						<div class="collapsible-body">{{> profilePicSettings}}</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">label_outline</i>Change display name</div>
						<div class="collapsible-body">{{> displayNameSettings}}</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">description</i>User description</div>
						<div class="collapsible-body">{{> userDescSettings}}</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">notifications</i>Notifications</div>
						<div class="collapsible-body">{{> notificationSettings}}</div>
					</li>
					{{#if currentUser.services.password}}
						<li>
							<div class="collapsible-header"><i class="material-icons">lock</i>Change password</div>
							<div class="collapsible-body">{{> passwordChangeSettings}}</div>
						</li>
					{{/if}}
					<li>
						<div class="collapsible-header"><i class="material-icons">delete</i>Delete account</div>
						<div class="collapsible-body">{{> deleteAccountSettings}}</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>