.eventsListOptions .option-buttons {
	padding: 15px;
}

.eventsListOptions .option-buttons .dropdown-button {
	display: block;
}

.eventsListOptions .social-btn {
	padding-left: 15px;
	padding-right: 15px;
}

@media only screen and (max-width: 600px) {
	.eventsListOptions .option-buttons {
		padding: 8px;
	}
}