<template name="settingsMenu">
	<div class="settingsMenu">
		<div class="settingsName">
			<li>
		    	<a id="settings-dropdown-btn" href="#" data-activates="settings-dropdown">
		    		<i class="material-icons">more_vert</i>
		    	</a>
			</li>
		</div>
		<div class="settings-dropdown">
			<ul id="settings-dropdown" class="dropdown-content">
				<li><a href="{{pathFor route='profileSettings'}}" class="view-all center-align">My Profile</a></li>
				<li><a href="{{pathFor route='help'}}" class="view-all center-align">Help</a></li>
				<li><a href="#bugModal" class="view-all center-align modal-trigger">Report a bug</a></li>
				<li><a href="#aboutModal" class="view-all center-align modal-trigger">About</a></li>
			</ul>
		</div>
	</div>
</template>