#settings-dropdown {
	width: 10%;
}

#settings-dropdown a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.0em;
	color: #607d8b;
}

@media only screen and (max-width: 992px) {
	#settings-dropdown {
		width: 35%;
	}
}

@media only screen and (max-width: 600px) {
	#settings-dropdown {
		width: 60%;
	}

	#settings-dropdown a {
		font-size: 0.9em;
		padding: 0.6rem;
	}
}