<!-- Options when user click the 3 dots on the event card/list. Context has to be an event -->
<template name="eventDropdown">
	<div class="eventDropdown">
	  <a class='dd-btn btn-flat waves-effect' href='#'>
	  	<i class="material-icons">more_vert</i>
	  </a>
	  <ul id='eventdd' class='dropdown-content' style="right: 0; z-index: 2;">
	  	{{#if isOwnEvent}}
		    <li><a href="{{pathFor route='edit'}}" id="edit-event">Edit event</a></li>
		    <li class="divider"></li>
		    <li><a href="#" id="delete-event">Delete event</a></li>
	    {{else}}
		    <li><a href="#" id="sub-user">{{#if isSubscribed}}Unsubscribe{{else}}Subscribe{{/if}} to user</a></li>
	    {{/if}}
	  </ul>
	</div>
</template>