<!-- A profile page for users -->
<template name="profile">
	<div class="profile">
		<div class="profile-header deep-orange lighten-2 z-depth-1">
			<img src="{{profile_img_url}}" class="circle responsive-img">
			<h3 class="white-text">{{userData.username}}</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 offset-m1 m10">
					<div class="card">
						<div class="card-content black-text">
							<!-- Shows a subscribe button unless it is your own profile page -->
							{{#unless isSelf}}
								{{#if isSubscribed}}
									<a class="sub red accent-2 waves-effect waves-light btn">Subscribed</a>
								{{else}}
									<a class="sub green accent-2 waves-effect waves-light btn">Subscribe</a>
								{{/if}}
							{{/unless}}
							<p class="sub-count">{{subCount}} Subscriber(s)</p>
						</div>
					</div>
					<h3 class="user-events-header">{{userData.username}}'s events</h3>
				</div>
			</div>
		</div>
		<div class="eventList-container">
			{{> eventList page="profile"}}
		</div>
		<div class="createFAB-container">
			{{> createFAB}}
		</div>
	</div>
</template>