<template name="search">
	<div class="search">
		<div class="fade-layer" data-bind="click: closeSearch"></div>
		<div class="search-container">
			<div id="search-input-container" class="z-depth-1">
				<div class="search-input">
					{{> esInput index="events" placeholder="Search..."}}
					<a id="search-close" href="#" class="btn-flat" data-bind="click: closeSearch"><i class="material-icons black-text">close</i></a>				
				</div>
			</div>
			{{#ifEsIsSearching index="events"}}
				{{> searchLoading}}
			{{/ifEsIsSearching}}
			<ul class="search-results hide">
				{{#esEach index="events"}}
					{{> eventSearchItem}}
				{{/esEach}}
			</ul>
		</div>
	</div>
</template>