<template name="navMenu">
	<div class="navMenu">
		<div class="menu-dropdown-btn">
			<li>
		    	<a id="dropdown-btn" href="#" data-activates="dropdown-list">
		    		<i class="material-icons">more_vert</i>
		    	</a>
			</li>
		</div>
		<div class="menu-dropdown-list">
			<ul id="dropdown-list" class="dropdown-content">
				<li><a href="{{pathFor route='profileSettings'}}" class="view-all center-align">My Profile</a></li>
				<li><a href="{{pathFor route='help'}}" class="view-all center-align">Help</a></li>
				<li><a href="#bugModal" class="view-all center-align modal-trigger">Report a bug</a></li>
				<li><a href="#aboutModal" class="view-all center-align modal-trigger">About</a></li>
			</ul>
		</div>
	</div>
</template>