<template name="navMenu">
	<div class="navMenu">
		<div class="menu-dropdown-btn">
			<ul class="right">
				<li>
					<a id="dropdown-btn" href="#" data-activates="dropdown-list">
						<i class="material-icons">more_vert</i>
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-dropdown-list">
			<ul id="dropdown-list" class="dropdown-content">
				<li><a href="{{pathFor route='settings'}}" class="view-all">Settings</a></li>
				<li><a href="{{pathFor route='help'}}" class="view-all">Help</a></li>
				<li><a href="#bugModal" class="view-all modal-trigger">Report a bug</a></li>
				<li><a href="#aboutModal" class="view-all modal-trigger">About</a></li>
			</ul>
		</div>
	</div>
</template>