.navMenu #dropdown-list a {
	font-family: 'Roboto', sans-serif;
	font-size: 1.0em;
	color: #607d8b;
}

.navMenu #dropdown-list li {
	background-color: #eceff1;
	transition: background-color 0.3s;
}

.navMenu #dropdown-list li:hover {
	background-color: #cfd8dc;
}

@media only screen and (max-width: 600px) {
	.navMenu > .menu-dropdown-btn #dropdown-btn i {
		height: 56px;
		line-height: 56px;
	}
}