<template name="quillToolbar">
	<div class="quillToolbar">
		<span class="ql-format-group">
			<span class="ql-format-button ql-bold" title="Bold"></span>
			<span class="ql-format-separator"></span>
			<span class="ql-format-button ql-italic" title="Italic"></span>
			<span class="ql-format-separator"></span>
			<span class="ql-format-button ql-underline" title="Underline"></span>
			<span class="ql-format-separator"></span>
			<span class="ql-format-button ql-strike" title="Strikethrough"></span>
		</span>
		<span class="ql-format-group">
			<span class="ql-format-button ql-list" title="List"></span>
			<span class="ql-format-separator"></span>
			<span class="ql-format-button ql-bullet" title="Bullet"></span>
		</span>
		<span class="ql-format-group">
			<span title="Link" class="ql-format-button ql-link"></span>
			<span class="ql-format-separator"></span>
			<span title="Image" class="ql-format-button ql-image"></span>
		</span>
	</div>
</template>