.collection li.comment.collection-item.avatar {
	height: inherit;
}

li.comment.event-owner {
	background-color: #fffde7;
}

li.comment.comment-owner {
	background-color: #e0f7fa;
}

li.comment div.comment-data.hide-excess {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.comment div.comment-show-more {
	text-align: center;
	cursor: pointer;
	color: #2196f3;
	transition: color 0.3s, background-color 0.3s;
}

li.comment div.comment-show-more:hover {
	color: #90caf9;
	background-color: #eee;
}

li.comment div.comment-actions a {
	transition: opacity 0.3s;
}

li.comment div.comment-actions a:hover {
	opacity: 0.7;
}

li.comment div.comment-actions a:active {
	opacity: 0.5;
	background-color: #eee;
}

li.comment div.comment-actions a i {
	font-size: 1.20em;
}