<!-- The representation of an event in any list, alternative to eventCard -->
<template name="eventListItem">
	<div class="eventListItem">
		<div class="card valign-wrapper link-event">
			<div class="listitem-img"></div>
			<div class="listitem-content valign">
				<p class="eventname">{{name}} by
					{{#with user}}
          	<a class="user" href="{{pathFor route='profile'}}">{{display_name}}</a>
        	{{/with}}
        </p>
				<p class="eventdate">{{dateTranslation}}</p>
			</div>
			<div class="eventDropdown-container">
				{{> eventDropdown}}
			</div>
			<div class="listitem-actions">
				<a href="#" class="like-btn">
					{{#if isEventLiked}}
						<i class="tiny material-icons">favorite</i>
					{{else}}
						<i class="tiny material-icons">favorite_border</i>
					{{/if}}
					{{likeCount}}
				</a>
			</div>
		</div>
	</div>
</template>