<!-- Pop up modal when user click nav-menu/about -->
<template name="aboutWindow">
    <div class="aboutWindow">
        <div id="aboutModal" class="modal">
            <div class="modal-title z-depth-1">
                <h4>HappeNUS</h4>
            </div>
            <div class="modal-body">
                <p>An Orbital 2015 project</p>
                <p>Developed by Ian Ngiaw and Muhammad Adam</p>
                <h5>Support Us!</h5>
            </div>
            <div class="modal-body links">
                <!-- Head over to /public/socialbtn.css to configure the animation -->
                <a href="https://twitter.com/HappeNUS/with_replies" target="_blank" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
                <a href="https://www.facebook.com/nushappen" target="_blank" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
                <a href="https://plus.google.com/u/0/112499878889146367383/about" target="_blank" class="icon-button google-plus"><i class="fa fa-google-plus"></i><span></span></a>
                <a href="https://github.com/HappeNUS/happenus" target="_blank" class="icon-button github"><i class="fa fa-github fa-lg"></i><span></span></a>

                <a id="close" class="modal-action modal-close blue-text btn-flat">Close</a>
            </div>
        </div>
    </div>
</template>