<!-- The card which contains the sorted by and display dropdowns -->
<template name="eventsListOptions">
	<div id="{{pin}}" class="eventsListOptions">
		<div class="option-buttons">
			<!-- The sorted by dropdown -->
			<a class="dropdown-button waves-effect waves-teal btn-flat" href="#" data-activates="sort-dropdown" style="z-index: 0;">
				Sorted by: {{sortedBy}}
				<i class="mdi-navigation-arrow-drop-down right"></i>
			</a>
			<!-- The display dropdown -->
			<a class="dropdown-button waves-effect waves-teal btn-flat" href="#" data-activates="display-dropdown" style="z-index: 0;">
				Display: {{display}}
				<i class="mdi-navigation-arrow-drop-down right"></i>
			</a>
		</div>
		<ul id="sort-dropdown" class="dropdown-content" style="z-index: 1;">
			<li><a id="sort-popu" class="waves-effect waves-light">Popularity</a></li>
			<li><a id="sort-late" class="waves-effect waves-light">Latest</a></li>
			<li><a id="sort-soon" class="waves-effect waves-light">Soonest</a></li>
		</ul>
		<ul id="display-dropdown" class="dropdown-content" style="z-index: 1;">
			<li><a id="disp-list" class="waves-effect waves-light"><i class="mdi-action-view-list"></i> List</a></li>
			<li><a id="disp-card" class="waves-effect waves-light"><i class="mdi-action-view-agenda"></i> Cards</a></li>
		</ul>
		<div class="social-btn">
			<!-- Head over to /public/socialbt.css to configure the animation -->
			<a href="http://twitter.com/" target="_blank" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
    		<a href="https://www.facebook.com/nushappen" target="_blank" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
    		<a href="http://plus.google.com" target="_blank" class="icon-button google-plus"><i class="fa fa-google-plus"></i><span></span></a>
    		<a href="https://github.com/HappeNUS/happenus" target="_blank" class="icon-button github"><i class="fa fa-github fa-lg"></i><span></span></a>
    	</div>
	</div>
</template>